:root {
    --c-base: #1b262c;
    --c-low: #0f4c75;
    --c-low-light: #0f4c7580;
    --c-med: #3282b8;
    --c-med-light: #3282b880;
    --c-high: #bbe1fa;
    --c-high-light: #bbe1fa80;
    --c-pulse: #ccf2fb80;
    --c-error: #f73859;
    --c-link: #d3b53d;
    --c-linked: #a3b86c;
    --f-size: 18px;

    --text-body: var(--c-high);
    --bg-body: var(--c-base);
    --font-body: -apple-system, system-ui, Helvetica, Arial, sans-serif;
    --font-mono: "andale mono", robota, verdana, mononspace;
    --size-body: var(--f-size);
}

@media only screen and (max-device-width: 480px) {
    body {
        width: 90%;
        margin: 0 5%;
    }
    div#view div.info {
        flex-direction: column;
    }
}
@media only screen and (min-device-width: 1000px) {
    body {
        width: 70%;
        margin: 2rem 15%;
    }
    div#view div.info {
        flex-direction: row;
    }
}

a {
    color: var(--c-link);
    font-weight: bold;
}
a:visited {
    color: var(--c-linked);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg-body);
    color: var(--text-body);
    font-family: var(--font-body);
    font-size: var(--size-body);
    justify-content: space-around;
    flex-wrap: wrap;
}

div#search { flex-direction: row; }

div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

h1,h2,h3,h4,h5 {
    color: var(--c-med);
}

input, select {
    background: var(--c-high);
    color: var(--c-low);
    font-size: var(--f-size);
    width: 100%;
}

option {
    background: var(--c-high);
    color: var(--c-low);
}

input#query {
    border-radius: 20px;
    padding: 0.5rem;
    width: 100%;
}

img.icon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    padding: 0.2rem;
}

span.hint {
    font-size: 75%;
    font-style: italic;
    color: var(--c-med);
    padding: 0.5rem;
}

div#result {
    flex-direction: column;
    flex-basis: min-content;
}

div.sr-tag {
    font-style: italic;
    padding: 0.5rem;
}

td.tab {
    width: 7%;
}

table#sr {
    font-family: var(--font-mono);

    border: 1px dotted var(--c-med);
    margin-top: 1rem;
}

table#sr tr td {
    border: 1px solid var(--c-high);
    padding: 0.5rem;
}

table#sr tr td.label {
    width: 10%;
    height: 100%;  /* so enclosed button.sr can fill vertically */
    padding: 0.1rem;
}

button.sr {
    font-family: inherit;

    background: var(--c-base);
    margin: 0;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    height: 100%;
}

button.sr:hover, button.sr:focus {
    background: var(--c-low-light);
}

button {
    font-size: 90%;

    color: var(--c-high);
    background: var(--c-low);
    border: 1px ridge var(--c-high);
    border-radius: 0px;
    padding: 0.25rem;
    margin: 0.1rem 0;
}

button:hover {
    background: var(--c-med-light);
    color: var(--c-link);
}

button.tab {
    width: 100%;
    height: 100%;
}

button.ctrl {
    margin: 0;
    width: 100%;
    margin-top: 1em;
    padding: 0.2rem;
    border: none;
}

button.lock {
    width: fit-content;
    background: var(--c-base);
    margin: 0 0.5rem;
    border: none;
    font-size: 85%;
}
button.lock:hover {
    background: var(--c-med-light);
}

div#view {
    font-family: var(--font-mono);
}

div#view div.info {
    flex-grow: 1;
    align-content: start;
}

div#view div.info div.tab {
    flex-direction: column;
}

div#view table {
    min-width: 50%;
    margin-top: 1rem;
    font-size: 80%;
}

div#view th {
    border: 1px solid var(--c-high);
    text-align: left;
}

div#view th:first-of-type {
    width: 25%;
}

div#view th, td {
    padding: 0.5rem;
}

div#view td.nvis {
    display: none;
}

.notes {
    background: var(--c-med-light);
    color: var(--c-high);
}

td.copyable, td.copyish {
    background-image: url('/static/copy.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 32px;
    cursor: grab;
}

.pulseable {
    transition: background-color 0.3s ease-out;
}

.pulsing {
    background-color: var(--c-pulse);
}

.failable {
    transition: background-color 0.2s ease-out;
}

.failing {
    background-color: var(--c-error);
}

.mono {
    font-family: var(--font-mono);
}
