<th>{{.Label}}</th>
<td class="tab">
    <button class="tab" id="{{.ID}}btn">Hide</button>
    {{- if isOTP .Value}}
    <button class="tab"
            hx-get="/totp/{{.RecordID}}?detail={{.DetailID}}"
            hx-target="#{{.ID}}otp"
            hx-swap="outerHTML">
      TOTP
    </button>
    <input id="{{.ID}}otp" type="hidden" value="" />{{end}}
</td>
<td id="{{.ID}}vis" class="notes pulseable copyable">
  <span class="mono">{{formatText .Value}}</span>
</td>
<td id="{{.ID}}nvis"
    class="nvis pulseable copyish copyclick"
    copy-value="{{.Value}}">
  (hidden)
</td>
