<input id="{{.ID}}" type="hidden" value="{{.Value}}" />{{if .Visible}}
<button id="{{.ID}}btn" class="tab" tabindex=4 hx-swap-oob="true">Hide</button>
<template>
  <td id="{{.ID}}vis" class="notes pulseable copyable" tabindex=4 hx-swap-oob=true>
    <span class="mono">{{formatText .Value}}</span>
  </td>
</template>
<template>
  <td id="{{.ID}}nvis" tabindex=4
      class="nvis pulseable copyish copyclick"
      copy-value="{{.Value}}" hx-swap-oob=true>
    (hidden)
  </td>
</template>{{end}}
