<input id="{{.ID}}" type="hidden" value="{{.Value}}" />{{if .Visible}}
<button id="{{.ID}}btn" class="tab" tabindex=4 hx-swap-oob="true">Hide</button>
<template>
  <button id="{{.ID}}vis" class="ctext notes pulseable copyable" tabindex=4 hx-swap-oob=true>
    {{formatText .Value}}
  </button>
</template>
<template>
  <button id="{{.ID}}nvis" tabindex=4
          class="nvis ctext pulseable copyish copyclick"
          copy-value="{{.Value}}" hx-swap-oob=true>
    (hidden)
  </button>
</template>{{end}}
